/*
                ## Colors

                ### Primary

                - Purple: hsl(259, 100%, 65%)
                - Light red: hsl(0, 100%, 67%)

                ### Neutral

                - White: hsl(0, 0%, 100%)
                - Off white: hsl(0, 0%, 94%)
                - Light grey: hsl(0, 0%, 86%)
                - Smokey grey: hsl(0, 1%, 44%)
                - Off black: hsl(0, 0%, 8%)

                ## Typography

                ### Body Copy

                - Font size (inputs): 32px

                ### Font

                - Family: [Poppins](https://fonts.google.com/specimen/Poppins)
                - Weights: 400i, 700, 800i
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins';
    background-color: hsl(0, 0%, 94%);
}

section {
  width: 50%;
  background-color: hsl(0, 0%, 100%);
  margin-top: 5rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  appearance: textfield;
}